*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 700

.quicksand-<uniquifier> {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.container{
     padding: 10px 10%; 
}
nav{
     display: flex;
     align-items: center;
     justify-content: space-between;
     flex-wrap: wrap;
}

nav ul li{
     display: inline-block;
     list-style: none;
     margin: 10px 20px;

}
nav ul li a{
     color: #fff;
     text-decoration: none;
     font-size: 18px;
     position: relative;
}
nav ul li a::after{
    content: '';
     width: 0;
     height: 3px;
     background: #004cff;
     position: absolute;
     left: 0;
     bottom: -6px;
     transition: 0.5s;
}
nav ul li a:hover::after{
     width: 100%;
}
.header-text{
     margin-top: 10%;
     font-size: 30px;
     margin-left: 20px;
}
.header-text h1{
     font-size: 60px;
     margin-top: 20px;
     
}
body{
    background-color: rgb(38, 38, 39);
    font-family: Quicksand, sans-serif;
}
h1{
    font-size: 30px;
    font-weight: 500;
    
}
p{
    margin: 20px 0 10px;
    font-size: 1.1rem;
}
section{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    padding: 50px;
    margin-top: 30px;

}
.title{
    color: rgb(255, 255, 255);
}
.contact{
    position: relative;
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.contact-form {
    position: relative;
    background: #f9f9f9;
    width: calc(100% - 400px);
    padding: 60px 40px 20px;

}

.contact-form form{
    width: 100%;
}

.contact-form .row{
    width: 100%;
    display: flex;
}

.contact-form .input50{
    width: 50%;
    margin: 0 10px;
}
.contact-form .input100 {
    width: 100%;
    margin: 0 10px;
}

.contact-form .row input,
.contact-form .row textarea {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: #111;
    background: transparent;
    width: 100%;
    padding: 10px;
    outline: none;
    font-size: 16px;
    font-size: 16px;
    font-weight: 300;
    margin: 10px 0;
    resize: none;    
}


.contact-form .row textarea{
    height: 150px;
}

.contact-form .row input[type='submit'] {
    background-color: #1b206e;
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    border: 0;
    cursor: pointer;
}
.contact-info {
    width: 350px;
    height: 100%;
    background: #f9f9f9;
    padding: 60px 40px 20px;
}
.contact-info .info-box{
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
}

.contact-info .info-box .contact-icon {
    width: 20px;
    margin-right: 40px;
}

.contact-info .info-box .contact-icon {
    width: 20px;
    margin-right: 40px;
}
.contact-info .info-box .details h4{
    color: var(--secondary-color);
}
.contact-info .info-box .details p,
.contact-info .info-box .details a {
    color: #111;
}